body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F1F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* colors{
  1:#40734D
  2:#1F8C2F
  3:#D5F2D7
  4:#F0F1F2
  5:#BFAB45
  6:#F2A649
} */
.bg1{
  background-color: #40734D;
  
}

.bg2{
  background-color: #1F8C2F;
}
.nav-link{
  color: #F0F1F2;
  
}
.nav-link:hover{
  color: #F2A649;
  
}
.main{
  background-color: #F0F1F2;
  /* height: 100vh; */
}
.sidebar{
  border-right: 5px solid #1F8C2F;
}
.sidebarborder{
  border-bottom: 2px solid #1F8C2F;
  padding: 1px;
  color: #F0F1F2;
}

.sidebarborder:hover{
  color: #F2A649;
}

.t1{
  color: #F0F1F2;
}
.t1:hover{
  color: #F2A649;
}

